<% layout("./layouts/boilerplate")%>

    <div class="d-flex justify-content-center align-items-center">
        <div class=" p-3">
            <h2>Privacy Policy</h2>
            <p>Welcome to Havenix. Your privacy is important to us.</p>

            <h3>Data Collected</h3>
            <p>We collect your name, email, phone number, payment details, and address for booking purposes.</p>

            <h3>Purpose</h3>
            <p>We use your data to facilitate bookings, process payments, and provide customer support.</p>

            <h3>Data Sharing</h3>
            <p>Your data is shared only with trusted third parties such as payment providers.</p>

            <h3>Security</h3>
            <p>We use secure encryption and access controls to keep your data safe.</p>

            <h3>Your Rights</h3>
            <p>You can request to view, update, or delete your personal data by contacting us.</p>

            <p>Contact: <a href="mailto:ygetdewy@lucifer.freewebhostmost.com" style="text-decoration: none;color: blue;">support@havenix.com</a></p>
        </div>
    </div>